.preloader {
  width: 100px;
  fill: #db3948;
}

.mini-preloader {
  width: 30px;
  height: 30px;
  background: #db3948;
}

.mini-preloader .preloader {
  width: 100%;
  fill: #fff;
}

.mini-preloader_save {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: #db3948;
  border-radius: 5px;
}